@import '~bootstrap/scss/bootstrap';

body {
  background-color: silver;
}

.gamePage {
  display: flex;
  flex-direction: column;
  background-color: silver;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  width: auto;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  color: blue;
}

.player {
  // background-color: white;
  // border: 1px solid black;
  color: red;
  align-items: center;
  display: flex;
  // height: 100px;
  justify-content: center;
}

.message {
  // background-color: white;
  // border: 1px solid black;
  color: green;
  align-items: center;
  display: flex;
  // height: 100px;
  justify-content: center;
}
