@import '~bootstrap/scss/bootstrap';

body {
  background-color: silver;
}

// h1 {
//   align-self: center;
// }

.gamePage {
  display: flex;
  flex-direction: column;
  background-color: silver;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  border: 1px solid black;
  color: blue;
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
}

.player {
  // background-color: white;
  // border: 1px solid black;
  color: red;
  align-items: center;
  display: flex;
  // height: 100px;
  justify-content: center;
}

.message {
  // background-color: white;
  // border: 1px solid black;
  color: green;
  align-items: center;
  display: flex;
  // height: 100px;
  justify-content: center;
}
